.app-order_table {
    width: 100%;
    min-height: 500px;
    background-color: #0B2134;
    border-radius: 10px;
    padding: 30px;


    .header {
        display: flex;
        flex-direction: row;
        flex: 1;
        font-size: 1.6rem;
        color: rgba(255,255,255,0.6)
    }

    .divider {
        border-color: rgba($color: white, $alpha: 0.6);
        margin: 10px 0px;
    }

    .content-item {
        padding: 10px 0;
    }
    
    .item-field {
        display: flex;
        flex-direction: row;
        color: rgba(255,255,255,0.8);
        font-size: 1.4rem;
    }

}
