.app-myOrder{
    min-height: 100vh;
    .title {
        font-size: 3rem;
        font-weight: 700;
        color: var(--color-text-white);
        margin-bottom: 20px;
    }
    .list-order{
        display: grid; /* 1 */
        grid-template-columns: repeat(auto-fill, 320px); /* 2 */
        grid-gap: 30px; /* 3 */
        justify-content: space-between; /* 4 */
        margin-top: 30px;
    }
    .myorder-pane {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}