* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Inter', sans-serif;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizespeed;
  color: var(--text-color);
  overflow-y: overlay;
}

html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
}

html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

body {
  .tippy-box {
      border-radius: 8px;
      font-weight: 600;
      font-size: 1.6rem;
      line-height: 2.2rem;
      background-color: rgba(84, 84, 84, 0.92);
  }

  .tippy-arrow {
      color: rgba(84, 84, 84, 0.92);
  }

  .tippy-content {
      padding: 8px 9px;
  }

  .tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
      top: -8px;
  }
}


p {
  margin: 0,
}

.bg-neutral-cream {
  background-color: #f8f8f8 !important;
}
.auto-height-table {
  min-height: 405px;
  overflow-x: auto;
}
.border-addon {
  border: 1px solid #d1d2db !important;
}
.btn-success{
  background-image: linear-gradient(47deg,#28c76f,#48da89) !important;
  padding: 10px 20px !important;
  border: none !important;
}
.cursor-pointer{
  cursor: pointer;
}
.text-404{
  color: #abb8c3;
}
.bg-404{
  z-index: 1;
}
/* .bg-404::before{
  background-image: url('https://res.cloudinary.com/agridential/image/upload/v1655796721/images/404_lliods.jpg');
  background-size: cover;
  background-position: bottom;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.7;
  z-index: -1;
  background-color: #6d8c54;
  background-blend-mode: luminosity;
  background-attachment: fixed;
} */
.sticky {
  position: fixed;
  top: 122px;
  right: 40px;
  left: 318px;
  background: white !important;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 6px 10px -4px;
}

.sticky-without-sidebar {
  left: calc(2rem + 100px);
  right: 2rem;
}

.sticky-with-sidebar {
  left: calc(2rem + 270px) !important;
  right: 2rem;
}

.sticky-true {
  position: fixed;
  top: 80px;
  border-top-right-radius: 0px !important;
  background: white !important;
  z-index: 1110;
  box-shadow: 0px 6px 10px -4px rgb(0 0 0 / 15%);
  border-top-left-radius: 0px !important;
  border-top: 1px solid #f2f2f2;
  left: calc(2rem + 100px);
}

@media (max-width: 768px) {
  .sticky {
    position: initial;
    top: 122px;
    right: 40px;
    left: 0;
    background: white !important;
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 6px 10px -4px;
  }
  .sticky-true {
    position: initial;
    top: 122px;
    right: 40px;
    left: 0;
    background: white !important;
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 6px 10px -4px;
  }
}

@media (min-width: 500) and (max-width: 768px) {
  .sticky-without-sidebar {
    margin: 0 5rem !important;
    left: 1rem;
    right: 1rem;
  }
}

@media (min-width: 769px) and (max-width: 1100px) {
  .sticky-without-sidebar {
    left: 2rem;
    right: 2rem;
  }
}

.img-sidebar-mini{
  max-width: 70px !important;
}


.gradient {
  height: fit-content;
  z-index: -1;
  width: 100%;
  /* max-width: 640px; */
  background-image: radial-gradient(circle, #072029, #112631, #1b2c38, #243340, #2e3947, #2e3a47, #2f3b46, #303c46, #2a373e, #253237, #222d2f, #1f2828);
  position: fixed;
  content: "";
  width: 100%;
  height: 100%;
  /* filter: blur(100px) saturate(150%); */
  /* top: 80px; */
  /* opacity: 0.15; */
}
