.app-select_token {
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: 0.5);
    .container {
        background-color: white;
        border-radius: 30px;
        min-height: 600px;
        width: 26%;
    
        position: fixed;
        padding: 30px;
        top: calc((100vh - 600px) / 2 - 100px);
        right: 5%;

        .header {
            display: flex;
            flex-direction: column;
            align-items: center;

            .title {
                font-size: 2.0rem;
                font-weight: 600;
            }
            .desc {
                color: #9CA3AF;

            }
        }
        .divider {
            border-color: rgba($color: #000000, $alpha: 0.3);
            margin: 10px 0px;
        }

    }
}

.close {
    position: absolute;
    right: 30px;
    &--icon{
        color: black;
        font-size: 2.5rem;
        cursor: pointer;
    }
}