.app-reward_item {
    width: 310px;
    padding: 15px 10px 20px 10px ;
    border-radius: 10px;
    background-color: #0B2134;
    margin-bottom: 16px;
    .content{
        padding: 0px 20px;
        .title {
            font-size: 1.8rem;
            font-weight: 700;
            color: white;
            margin-bottom: 4px;
        }
        
        .info {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .cost {
                display: flex;
                flex-direction: row;
                align-items: center;
                
                p {
                    color: var(--color-secondary);
                    font-weight: 500;
                }
            }
        }

        .divider {
            border-color: rgba($color: white, $alpha: 0.6);
            margin: 5px 0px 10px 0;
        }

        .action{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            .buy-btn {
                font-weight: 700;
                border-radius: 2px;
                background-color: #ccc;
            }
        }

    }
}