.app-statistic{
    width: 200px;
    height: 100px;
    background-color: rgba(255,255,255,0.1);
    border-radius: 8px;
    border: 2px solid white;
    padding: 13px;
    margin-right: 20px;
    .title{
        font-size: 1.5rem;
        color: #DDD;
        line-height: 1.5rem;  
        font-weight: 500;      
        margin-bottom: 10px;
        span {
            font-size: 1.2rem;
        }
    }
}

@media only screen and (max-width: 600px) {
    .app-statistic{
        width: 28vw;
        height: 100px;
        background-color: rgba(255,255,255,0.1);
        border-radius: 8px;
        border: 2px solid white;
        padding: 10px;
        margin: 0px 5px 0 5px;
        .title{
            font-weight: 600;      
        }
    }
}