.app-order{
    padding: 20px 20px 16px 20px;
    width: 320px;
    border-radius: 6px;
    background-color:#0B2134;
    box-shadow: rgba(136, 165, 191, 0.48) 1px 1px 3px 0px, rgba(255, 255, 255, 0.8) -1px -1px 3px 0px;
    &:hover {
        box-shadow: (var(--color-secondary)) 1px 1px 3px 0px, rgba(255, 255, 255, 0.8) -1px -1px 3px 0px;

    }
    &--info {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 16px;
        .icon-container {
            border-radius: 20px;
            border: 2px solid rgba(255, 255, 255, 0.8);

            width: 3rem;
            height: 3rem;
            display: flex;
            align-items: center;
            justify-content: center;
            .icon {
                color: rgba(255, 255, 255, 0.8);
                font-size: 2rem;
            }
        }

        &--token {
            div {
                display: flex;
                flex-direction: column;

                justify-content: center;
                align-items: center;
                p {
                    text-align: center;
                    font-size: 1.2rem;
                    line-height: 1.2rem;
                    font-weight: 600;
                    color: rgba(255, 255, 255, 0.8)
                }
                .quantity {
                    font-size: 1.3rem;
                    font-weight: 600;
                }
            }
        }
    }
    &--action {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10 40px 0px 10px;
        font-size: 1.2rem;

        &--time_left {
            background-color: rgba($color: white, $alpha: 0.05);
            padding: 4px 10px;
            border-radius: 4px;
        }
        &--btn {
            font-size: 1.6rem;
            cursor: pointer;    
            font-weight: 600;
            color: rgba(255, 255, 255, 0.8);

            
            &:hover {
                color: rgba(21, 191, 253, 0.5);
            }
        }
        &--btn-remove{
            font-size: 1.6rem;
            cursor: pointer;    
            font-weight: 600;
            color: rgba(255, 255, 255, 0.8);

            &:hover {
                color: #820014;
            }
        }
    }
}