@import url('../../styles/mixin.scss');

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-wallet {
    min-height: 100vh;
    .title {
        font-size: 3rem;
        font-weight: 700;
        color: var(--color-text-white);
        margin-bottom: 20px;
    }
    .account-info {
        color: var(--color-text-white);
        font-size: 1.6rem;
        font-weight: 600;
        margin-bottom: 20px;
        p {
            font-weight: 400;
            margin-right: 30px;
        }

        .copy-icon {
            margin-left: 0px;
            padding: 6px;
            cursor: pointer;
            
            &:hover {
                background-color: rgba(255,255,255, 0.2);
                border-radius: 5px;
            }
        }
    }

    .content {
        display: flex;
        flex-direction: row;
        align-items: cetner;
        justify-content: space-between;
        background-color: #0B2134;
        padding: 20px 40px;
        border-radius: 10px;
        &--left {
            width: 30%;
            .qrcode-container {
                width: 100%;
                display: flex;
                justify-content: center;
                margin-top: 40px;
                .qrcode {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: white;
                    padding: 10px;
                }
            }
        }

        &--right {
            // flex: 0.65;

            width: 65%;
            height: 75vh;
            padding: 40px 40px 20px 40px;
            header {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                margin-bottom: 20px;
                .header-item {
                    padding-top: 16px;
                    padding-bottom: 10px;
                    cursor: pointer;
                    width: 100%;
                    border-bottom: 3px solid rgba(255,255,255, 0.3);
                    
                    p {
                        text-align: center;
                        width: 100%;
                        font-size: 1.5rem;
                        font-weight: 600;
                        color: var(--color-text-white);
                        height: 100%;
                    }

                    &--selected {
                        border-bottom: 3px solid var(--color-secondary);
                    } 
                }
            }
        }
    }
    
    &--token {
        @include flex-center;
        flex-direction: column;

        .balance {
            font-size: 3rem;
            font-weight: 700;
            color: var(--color-text-white)
        }
        .wallet-action {
            Button {
                background-color: rgba(21,191,255, 0.2);
                font-size: 1.8rem;
                margin: 10px 20px;
                border-radius: 5px;
                width: 120px;
            }
        }
        .token-items {
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-top: 20px;
            width: 100%;
        }
    }
    .pagination-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 4px;
        flex-direction: row;
        background-color: #ccc;
        height: 32px;
        border-radius: 6px;
        font-size: 1.6rem;
        font-weight: 600;
        // margin-right: 10px
        margin-left: auto;
        width: 120px;
    }
    .pagination-btn {
        padding: 4px 5px;
        // margin: 20px
        font-weight: 700;
        cursor: pointer;
        &:hover {
            color: var(--color-secondary)
        }
    }
    .pagination-current {
        border: 1px solid #555;
        line-height: 1.6rem;
        padding: 2px 4px;
        border-radius: 3px;
        margin: 0 6px;
        min-width: 33px;
        text-align: center;
    }
}

