.app-market--pane{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    Button {
        margin: 0 0.5rem;
        background-color: #ccc;
        color: black;
        font-weight: 500;
    }
    .icon-clearfilter{
        background-color: #ccc;
        border-radius: 300px;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin-left: 10px
    }
    .all-filter{
        background-color: var(--color-secondary);
        color: var(--color-primary);
        font-weight: 500;
        margin-left: 0;
    }
}

.pane-popover {
    .pane-popover--item{
        font-size: 1.4rem;
        font-weight: 500;
        padding: 4px 10px;
        cursor: pointer;
        &:hover {
            background-color: var(--color-hover);
        }
    }
}

.pagination-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4px;
    flex-direction: row;
    background-color: #ccc;
    height: 32px;
    border-radius: 6px;
    font-size: 1.6rem;
    font-weight: 600;
    margin-right: 10px
}
.pagination-btn {
    padding: 4px 5px;
    // margin: 20px
    font-weight: 700;
    cursor: pointer;
    &:hover {
        color: var(--color-secondary)
    }
}
.pagination-current {
    border: 1px solid #555;
    line-height: 1.6rem;
    padding: 2px 4px;
    border-radius: 3px;
    margin: 0 6px;
    min-width: 34px;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .app-market--pane{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        Button {
            display: none;
            margin: 0 0.5rem;
            background-color: #ccc;
            color: black;
            font-weight: 500;
        }
        .icon-clearfilter{
            display: none;
        }
        .all-filter{
            display: block;
            background-color: var(--color-secondary);
            color: var(--color-primary);
            font-weight: 500;
            margin-left: 0;
        }
    }
}